[submodule "themes/galdebert-hyde"]
	path = themes/galdebert-hyde
	url = https://github.com/galdebert/hyde
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-bootstrap-premium"]
	path = themes/galdebert-hugo-bootstrap-premium
	url = https://github.com/galdebert/hugo-bootstrap-premium
