[submodule "themes/galdebert-hyde"]
	path = themes/galdebert-hyde
	url = https://github.com/galdebert/hyde
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
